.horizontal-slider-container{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 30px;
  margin-top: 15vh;
  /* -- remove scrollbar -- */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* -- remove scrollbar Chrome, Safari and Opera -- */
.horizontal-slider-container::-webkit-scrollbar{
  display: none;
}

.horizontal-slider-container .category-element{
  display: inline-block;
  margin: 10px;
}
/* -- margin of first and last container -- */
.horizontal-slider-container .category-element:first-child{
  margin-left: 5vw;
}
.horizontal-slider-container .category-element:last-child{
  margin-right: 15vw;
}